---
import { marked } from "marked";
import hljs from "highlight.js";
import Navbar from "../../components/Navbar.astro";

const url = `https://raw.githubusercontent.com/megatank58/${Astro.params.project}/main/README.md`;

export async function getStaticPaths() {
  const repos = `https://api.github.com/users/megatank58/repos`;

  const projects = (await (await fetch(repos)).json())
    .filter((project) => {
      return project.description;
    })
    .map((project) => {
      return {
        name: project.name,
      };
    });

  return projects.map((project) => {
    return {
      params: {
        project: project.name,
      },
    };
  });
}

const response = await fetch(url);

marked.setOptions({
  highlight(code: string, lang: string) {
    const language = hljs.getLanguage(lang) ? lang : "plaintext";
    return hljs.highlight(code, { language }).value;
  },
});
marked.use({
  renderer: {
    heading(text, level) {
      const escapedText = text.toLowerCase().replace(/[^\w]+/g, "-");
      return `
            <h${level}>
            	${text}
			<a name="${escapedText}" class="anchor" href="#${escapedText}">
                <span class="header-link opacity-0 hover:opacity-100">#</span>
            </a>
            </h${level}>`;
    },
  },
});

const readme = marked(await response.text());
---

<Navbar />
<div class="hero my-8 ml-8 mr-4">
  <div
    class="hero-content font-mono prose max-w-none pt-8 pb-16 rounded-lg shadow-2xl border-t-2 border-l-4 border-base-300 prose-pre:p-3 prose-pre:rounded prose-pre:overflow-x-auto prose-a:text-success prose-a:no-underline prose-img:inline prose-img:m-1 prose-p:m-1 prose-h1:my-4 prose-h2:my-4"
  >
    <div set:html={readme}></div>

    <a class="btn btn-primary float-right mt-auto" href="/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          d="m9 6l6 6l-6 6"></path></svg
      ></a
    >
  </div>
</div>
